<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite>
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="InProgress">
            <directory>./tests/CacheFileTest.php</directory>
        </testsuite>
        <testsuite name="Compliance">
            <directory>./tests/CachePSR6ComplianceTest.php</directory>
        </testsuite>
        <testsuite name="Library">
            <directory>./tests/CacheFileTest.php</directory>
            <directory>./tests/CacheItemTest.php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>